appdirs==1.4.2
Django==2.2.28
django-multiselectfield
django-ckeditor==5.2.1
gunicorn==19.7.0
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.7
pyparsing==2.2.0
six==1.10.0
django-dotenv==1.4.1
django-fontawesome==0.3.1
xlsxwriter
django-logentry-admin==1.0.3
django-admin-list-filter-dropdown
django-admin-rangefilter==0.3.1
raven==6.6.0
