{% extends 'base.html' %} {% load staticfiles %} {% block navigation %} {% include 'navbar.html' %} {% endblock %} {% block body %}
<div class="container">
    <div class="row">
        {% block left_nav %} {% include 'left_menu.html' %} {% endblock %} {% block main_body %}
        <div class="col-md-7 col-xs-12 col-lg-7 col-sm-12 centralcontent">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h4>About MSIT</h4>
                    <hr>
                    <p class="paraHead">The Institure</p>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <p class="aboutcontent">
                        <img src="{% static 'img/mainPage/slide_9.jpg' %}" class="img-responsive" class="">
                        <br>
                        <br> This AICTE approved Institute under GGSIP University is ideally located in the Institutional area of Janakpuri, New Delhi. It has a campus spread over eight acres of land with beautiful eco-friendly surroundings. Institute
                        was earlier operating from four storey building of 6279 sq.m of built up area. Recently it has been shifted to a more spacious seven storeyed building with built up area of 9660 sq.m The institute has over a short span of time
                        acquired and developed impressive infrastructure, expertise and resources for imparting high quality engineering education. The institute runs in two shifts - First/Morning shift and Second/Evening shift providing Bachelor of Technology
                        in CSE, IT, ECE and EEE streams.
                    </p>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <p class="paraHead">Course and Instake</p>
                    <table border="1" cellpadding="1" cellspacing="1" style="width: 500px;">
                        <tbody>
                            <tr>
                                <td><span style="color:#FF0000;">Course</span></td>
                                <td><span style="color:#FF0000;">&nbsp;Intake (M+E)</span></td>
                            </tr>
                            <tr>
                                <td>B. Tech. (Computer Science &amp; Engineering)</td>
                                <td>&nbsp;120 + 60</td>
                            </tr>
                            <tr>
                                <td>B. Tech. (Information Technology)</td>
                                <td>&nbsp;60 + 60</td>
                            </tr>
                            <tr>
                                <td>B. Tech. (Electronics &amp; Communication Engineering)</td>
                                <td>&nbsp;120 + 60</td>
                            </tr>
                            <tr>
                                <td>B. Tech. (Electrical &amp; Electronics Engineering)</td>
                                <td>&nbsp;60</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                    <p class="paraHead">Teaching Methodology</p>
                    <p class="aboutcontent">
                        The institute has a well qualified and experienced faculty. The most contemporary teaching methodology at MSIT provides ample opportunity for students to develop into all round professionals by keeping abreast of the ever changing technologies. The Institute
                        aims to achieve and excel the high standards set by premiere technical institutions of the country. The traditional classroom teaching is supplemented by regular tests, tutorials, group discussions, extensive lab work, projects,
                        seminars and industrial exposure by way of industry visits and summer training. Eminent academicians &amp; professionals are invited as visting faculty to teach &amp; guide specific courses. While teaching engineering fundamentals,
                        keeping pace with the evolving definitions and concepts, a sincere effort is also made to cover the latest in each subject area.The classroom atmosphere is synergetic with interactive and participative sessions. This makes learning
                        proactive and instills in the students a sense of team spirit, responsibility and professional integrity. It helps in building a healthy student-faculty bond, which develops students to their fullest potential and harnesses the
                        best in the teachers.&nbsp;
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                    <p class="paraHead">Infrastructure</p>
                    <p class="aboutcontent">
                        The infrastructure consists of well lit lecture halls, fully furnished labs, seminar halls, staff rooms, a large size play ground etc. For the fresh students there are well equipped labs for ‘Applied Sciences’, ‘Applied Mechanics’ and ‘Electrical Engg.
                        Lab’ in addition to a well established ‘Workshop’ and a well lit ‘Drawing Hall’. The six modern air-conditioned networked computers labs cover entire range of Computer Science &amp; IT subjects like Software Engg., Network Technology,
                        Mobile Computing, Artificial Intelligence &amp; Robotics, Computer Graphics, Compiler Construction, Analysis &amp; Design of Algorithms, Interface Programming, Data Structure, DBMS &amp; Object Oriented Programming. All labs have
                        licensed software such as Visual Studio, .Net 2003, Auto Cad 2004, MS Office Professional 2003, Oracle 9i, TASM, Orcad, Windows XP. The software is updated and upgraded frequently as per the requirements and demands of the training.
                        High speed, around–the–clock internet access using a radio link is also available. Students are offered real software projects relating to the current industry requirments to facilitate smooth transition from academics to industrial
                        environment. The Electronics &amp; Comm. Engg. Department has eight modern laboratories covering all the important subjects eg. Analog Electronics Lab, Control Engg. Lab, Microwave Devices lab, Digital Image Processing Lab,Consumer
                        Electronics Lab, Digital Circuits &amp; Systems Lab and Microprocessors lab. Recently a VLSI Design Lab and a Satellite &amp; Mobile Comm. Lab have been also added. Adequate licenced MATLAB tool boxes,Tanner tools as well as the
                        kits of IPGA/CPLD microprocessors and advanced microprocessors are available to give the students clear insight into design and development processes. Faculty is supported by a well trained technical staff. A full backup power
                        supply is available for the campus round the clock.&nbsp;
                    </p>
                </div>
            </div>
        </div>
        {% endblock %} {% block right_nav %} {% include 'right_menu.html' %} {% endblock %}
    </div>
</div>
{% endblock %}
