{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Maharaja Surajmal Institute of Technology</title>
    	<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/jquery.als-1.7.min.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/main.min.js' %}" ></script>
        <link rel="icon" href="{% static "img/favicon.ico" %}" sizes="16x16" type="image/png">
    </head>
    <body>
        {% block navigation %}{% endblock %}
        {% block body %}
            {% block left_nav %}{% endblock %}
            {% block main_body %}{% endblock %}
            {% block right_nav %}{% endblock %}
        {% endblock %}
        <footer class="footer" style="background:#000; padding: 1em; position:fixed; bottom:0;left:0;min-width:calc(100%);">
          <div class="container">
            <p class="text-muted">All Rights Reserved | Maharaja Surajmal Institute of Technology | 2016 <span style="float:right;"><a type="button" class="" data-toggle="modal" data-target="#myModal">Meet The Team</a></span></p>
          </div>
        </footer>
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog" style="">
            <style type="text/css">
            	a:hover{
            		background: rgba(255, 87, 34, 0);
            		text-decoration: none;
            	}
            	a:visited{
            		color: #00796B;
            		background: rgba(255, 87, 34, 0);
            		text-decoration: none;
            	}
            </style>
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Meet The Team</h4>
              </div>
              <div class="modal-body">
              <div class="row">
              	<div class="col-md-6">
              		<center>
        				<img src="{% static "img/team/adeel.jpg" %}" height="150" width="150" style="border-radius: 100%;">
        				<h4>Adeel Hashmi</h4>
        				<h5>Asst. Professor</h5>
        			</center>
              	</div>
              	<div class="col-md-6">
              		<center>
        				<img src="{% static "img/team/naresh.jpg" %}" height="150" width="150" style="border-radius: 100%;">
        				<h4>Naresh Kumar</h4>
        				<h5>Asst. Professor</h5>
        			</center>
              	</div>
              	<div class="col-md-6">
              		<center>
        				<img src="{% static "img/team/mayank.jpg" %}" height="150" width="150" style="border-radius: 100%;">
        				<h4><a href="http://mayankkashyap.com">Mayank Kashyap</a></h4>
        				<h5>CSE</h5>
        			</center>
              	</div>
              	<div class="col-md-6">
              		<center>
        				<img src="{% static "img/team/prabal.jpg" %}" height="150" width="150" style="border-radius: 100%;">
        				<h4><a href="http://linkedin.com/in/prabalmalhan">Prabal Malhan</a></h4>
        				<h5>CSE</h5>
        			</center>
              	</div>
              	<div class="col-md-6">
              		<center>
        				<img alt='Super Saiyan God' src="{% static "img/team/hiten.jpg" %}" height="150" width="150" style="border-radius: 100%;">
        				<h4><a href="http://htadg.github.io/">Hiten Sharma</a></h4>
        				<h5>CSE</h5>
        			</center>
              	</div>
              	<div class="col-md-6">
              		<center>
        				<img alt='The UI/UX Guy' src="{% static "img/team/sahil.jpg" %}" height="150" width="150" style="border-radius: 100%;">
        				<h4><a href="sahilkhurana19.github.io">Sahil Khurana</a></h4>
        				<h5>CSE</h5>
        			</center>
              	</div>
              	<br><br>
              	<div class="col-md-12" style="margin-top: 3em;">
              		<center><p>Special thanks to Tanmay Bhatia, IT for providing the photographs of campus.</p></center>
              	</div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>





<div class="col-md-6">
    <center>
        <img alt='The AlgoTwister' src="{% static "img/team/vignesh.jpg" %}" height="150" width="150" style="border-radius: 100%;">
        <h4><a href="http://www.vigneshm.com">M Vignesh</a></h4>
        <h5>CSE</h5>
    </center>
</div>
