{% extends 'base.html' %}
{% load staticfiles %}

{% block navigation %}
    {% include 'navbar.html' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% block left_nav %}
                {% include 'left_menu.html' %}
            {% endblock %}
            {% block main_body %}
                <div class="col-md-7" style="background: #fff; //height: 50em; border-radius: 1em; padding: 1em;">
                    <h4>Contact Us</h4>
                    <hr>
                    <p><strong>Address</strong><br />
                    C-4 Janak Puri, New Delhi-110058</p>
                    <p><strong>Phones&nbsp;</strong><br />
                    25528117, 25552667</p>
                    <p><strong>Email</strong><br /><a href="mailto:director@msit.in">director@msit.in</a></p>
                    <p>&nbsp;</p>
                    <p><iframe allowfullscreen="allowfullscreen" frameborder="0" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.293356837104!2d77.09041795012958!3d28.620968691269987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjjCsDM3JzE1LjUiTiA3N8KwMDUnMzMuNCJF!5e0!3m2!1sen!2sin!4v1453149363403" width="600"></iframe></p>
                </div>
            {% endblock %}
            {% block right_nav %}
                {% include 'right_menu.html' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
