{% extends 'base.html' %}
{% load staticfiles %}

{% block navigation %}
    {% include 'navbar.html' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% block left_nav %}
                {% include 'left_menu.html' %}
            {% endblock %}
            {% block main_body %}
            <div class="col-md-8 col-sm-12 col-lg-8 col-xs-12 centralcontent">
	<h3>Disaster Management Committee</h3>
	<table border="1" cellpadding="0" cellspacing="0" class="table">
		<tbody>
			<tr>
				<td><strong>S.No.</strong></td>
				<td><strong>Name of the faculty</strong></td>
				<td><strong>Designation</strong></td>
			</tr>
			<tr>
				<td>1</td>
				<td>Dr. Brijpal Singh</td>
				<td>Convenor</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Sh. Rajbir Singh</td>
				<td>Member</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Sh. Sunil Gupta</td>
				<td>Member</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Dr. Rekha Tripathi</td>
				<td>Member</td>
			</tr>
			<tr>
				<td>5</td>
				<td>Sh. R. S. Rathi</td>
				<td>Member</td>
			</tr>
			<tr>
				<td>6</td>
				<td>Sh. R. K. Kaushik</td>
				<td>Member</td>
			</tr>
			<tr>
				<td>7</td>
				<td>Ms. Saba Khanum</td>
				<td>Member</td>
			</tr>
			<tr>
				<td>8</td>
				<td>Sh. Yogendra Arya</td>
				<td>Member</td>
			</tr>
		</tbody>
	</table>
</div>

            {% endblock %}
            {% block right_nav %}
            {% include 'right_menu.html' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
