{% extends 'base.html' %} {% load staticfiles %} {% block navigation %} {% include 'navbar.html' %} {% endblock %} {% block body %}
<div class="container">
    <div class="row">
        {% block left_nav %} {% include 'left_menu.html' %} {% endblock %} {% block main_body %}
        <div class="col-md-7 col-sm-12 col-xs-12 col-lg-8 centralcontent">
            <h3 style="color: #154391;">{{ heading }}</h3>
            <hr>
            <script type="text/javascript">
                $('#societytab a').click(function(e) {
                    e.preventDefault()
                    $(this).tab('show')
                })
            </script>
            <ul class="nav nav-tabs" id="tttab" role="tablist">
                {% for i in tabs %}
                <li {% if forloop.counter == 1 %}class="active" {% endif %}>
                    <a href="#{{i.title|slugify}}" aria-controls="{{i.title|slugify}}" role="tab" data-toggle="tab">{{i.title}}</a>
                </li>
                {% endfor %} {% if settings.display_1st_faculty %}
                <li>
                    <a href="#firstshift" aria-controls="firstshift" role="tab" data-toggle="tab">Faculty</a>
                </li>
                {% endif %} {% if settings.display_2nd_faculty %}
<!--                 <li>
                    <a href="#secondshift" aria-controls="secondshift" role="tab" data-toggle="tab">Faculty (2nd shift)</a>
                </li> -->
                {% endif %} {% if settings.display_assistant %}
                <li>
                    <a href="#lab" aria-controls="lab" role="tab" data-toggle="tab">Technical Staff</a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content">
                {% for i in tabs %}
                <div class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{i.title|slugify}}" style="padding:1em;">
                    {{i.content|safe}}
                </div>
                {% endfor %} {% if settings.display_1st_faculty %}
                <div class="tab-pane" id="firstshift">


                    <!-- <div class="form-inline sorterMenu">
                    &nbsp;&nbsp;&nbsp;Order by&nbsp;
                    <select class="form-control order" id="order1">
                        <option selected value="1">Name</option>
                        <option value="2">Designation</option>
                        <option value="3">Date of Joining</option>
                    </select>
                  <select class="form-control by" id="by1">
                    <option selected value="1">Ascending</option>
                    <option value="2">Descending</option>
                  </select>&nbsp;&nbsp;
                  <button class="btn-success btn sorter" type="button" name="button" onclick='sorter(1)'>Apply</button>
                  </div> -->



                    <div style="padding:1em;">
                        <table class="table-striped table-responsive firstshift-table" id=cse>
                            <tbody>
                                {% for i in morning %}
                                <tr>
                                    
                                    <td style="float:center; vertical-align: baseline; padding-top: 15px;" >
					    {% if i.profile_pic %}<img alt="" src="{{i.profile_pic.url}}" style="width: 100px; height: 100px;">{% endif %}
				    </td>
                                    
                                    <td style="padding:1em; width: 100%">
                                        <p style="color: #FF5722; font-weight: bold;">{{i.title}}&nbsp;{{i.full_name}} <br> {{i.designation|slice:"1:"}} | {{ i.qualifications }}</p>
					    
                                        {% if i.date_of_joining %}
<!-- 					    <p>DOJ: {{ i.date_of_joining|date:"d/m/Y" }}</p> -->
					    {% endif %}
                                        <p>{{i.email}}</p>
                                        {{i.description | safe}}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>
                    </div>
                </div>
                {% endif %} {% if settings.display_2nd_faculty %}
                <div class="tab-pane" id="secondshift">

                    <!--  <div class="form-inline sorterMenu">
                  &nbsp;&nbsp;&nbsp;Order by&nbsp; <select class="form-control order" id="order3">
                    <option selected value="1">Name</option>
                    <option value="2">Designation</option>
                    <option value="3">Date of Joining</option>
                  </select>
                  <select class="form-control by" id="by3">
                    <option selected value="1">Ascending</option>
                    <option value="2">Descending</option>
                  </select>&nbsp;&nbsp;
                <button class="btn btn-success sorter" type="button" name="button" onclick='sorter(3)'>Apply</button>

                    </div> -->

                    <div style="padding:1em;">
                        <table class="table-striped table-responsive firstshift-table" id=cse>
                            <tbody>
                                {% for i in evening %}
                                <tr>

                                    
                                    <td style="float:center; vertical-align: baseline; padding-top: 15px;">
					    {% if i.profile_pic %}<img alt="" src="{{i.profile_pic.url}}" style="width: 100px; height: 100px;">{% endif %}
					</td>
                                    
                                    <td style="padding:1em; width: 100%">
                                        <p style="color: #FF5722; font-weight: bold;">{{i.title}}&nbsp;{{i.full_name}} <br> {{i.designation|slice:"1:"}} | {{ i.qualifications }}</p>


					{% if i.date_of_joining %}
<!-- 					    <p>DOJ: {{ i.date_of_joining|date:"d/m/Y" }}</p> -->
					    {% endif %}
                                        <p>{{i.email}}</p>
                                        {{i.description | safe}}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>
                    </div>
                </div>
                {% endif %} {% if settings.display_assistant %}
                <div class="tab-pane" id="lab">

                    <!-- <div style="padding:1em;">
                        <table class="table-striped table-responsive" style="width:500px;">
                            <tbody>
                                {% for i in elab %}
                                <tr>
                                    <td style="padding:1em;">
                                        <p><strong>{{i.title}}&nbsp;{{i.full_name}}</strong></p>

                                        <p>{{i.designation|slice:"1:"}} | {{ i.qualifications }}</p>

                                        <p>{{i.email}}</p>
                                    </td>
                                    {% if i.profile_pic %}
                                    <td style="float:right;"><img alt="" src="{{i.profile_pic.url}}" style="width: 100px; height: 100px; border-radius: 100%;"></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>
                    </div> -->

                    <div class="col-md-8 col-sm-12 col-xs-12 col-lg-12 centralcontent" style="padding: 1em;">
                        <table border="0" cellpadding="0" cellspacing="0" class="table">
                            <tbody>
                                <tr style="background-color:#00bb7b;">
                                    <td><strong>S.No.</strong></td>
                                    <td><strong>Name of the Staff Member</strong></td>
                                    <td><strong>Designation</strong></td>
                                </tr>
                                {% if mlab %}
                                <tr style="background-color:#00bb7b; text-align:center;">
                                    <td colspan="3"><strong>First Shift</strong></td>
                                </tr>
                                {% for i in mlab %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{i.title}}&nbsp;{{ i.full_name }}</td>
                                    <td>{{ i.designation|slice:"1:" }}</td>
                                </tr>
                                {% endfor %} {% endif %} {% if elab %}
                                <tr style="background-color:#00bb7b; text-align:center;">
                                    <td colspan="3"><strong>Second Shift</strong></td>
                                </tr>
                                {% for i in elab %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{i.title}}&nbsp;{{ i.full_name }}</td>
                                    <td>{{ i.designation|slice:"1:" }}</td>
                                </tr>
                                {% endfor %} {% endif %}

                            </tbody>
                        </table>

                    </div>


                </div>
                {% endif %}
            </div>
        </div>
        {% endblock %} {% block right_nav %} {% include 'right_menu.html' %} {% endblock %}
    </div>
</div>
<script>
    /* Hey there!

                                                          help? => vigzmv@outlook.com

                                                          */

    // try{
    //   var order = window.location.pathname.match(/\d+/)[0];
    //   if(order == "") order = '1';
    //   $('.order').val(order);
    // } catch(err){}

    // try {
    //   var by = window.location.pathname.replace(/.*\D/g, '')
    //   if(by == "") by = '1';
    //   $('.by').val(by);
    // } catch(err){}

    // function changeLoc(sort, order){
    //   window.location = window.location.protocol + '//' + window.location.host + '/' +
    //   window.location.pathname.replace(/^\/([^\/]*).*$/, '$1') + '/' + sort + '/' +
    //   order + window.location.hash;
    // }

    // function sorter(id){
    //   changeLoc($('#order' + id).val(), $('#by' + id).val());
    // }

    // $("#tttab > li > a").on("shown.bs.tab", function(e) {
    //   window.location.hash = $(e.target).attr("href").substr(1) + 's';
    // });

    // var hash = window.location.hash;
    // $('#tttab > li > a[href="' + hash.slice(0, -1) + '"]').tab('show');
</script>

{% endblock %}
