{% extends 'base.html' %} {% load staticfiles %} {% block navigation %} {% include 'navbar.html' %} {% endblock %} {% block body %}
<div class="container">
    <div class="row">
        {% block left_nav %} {% include 'left_menu.html' %} {% endblock %} {% block main_body %}
        <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8 centralcontent">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                    <h4>History</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                    <p class="historyPara">
                        Surajmal Memorial Education Society was founded in 1972 at Janakpuri to emulate the great qualities of Maharaja Surajmal with an aim to impart quality education in rural as well as urban areas. Academic Programmes were started with the introduction of
                        certificate and Diploma courses in various technical streams in 1982. <span class="historyHighlight">Maharaja Surajmal Institute of Technology</span> was estalblished in 2001 with the approval of <span class="historyHighlight">AICTE</span>                        and is affiliated to <span class="historyHighlight">Guru Gobind Singh Indraprastha University</span> in Delhi for Providing B.Tech Degree since 2000-01.
                    </p>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 historyContent">
                    <p>Maharaja Surajmal (1707-1763): The Visionary</p>
                    <br>
                    <center>
                        <img src="{% static 'img/surajmal.png' %}" class="img-responsive" alt="Maharaja Surajmal">
                    </center>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                    <p>
                        Maharaja Surajmal had the same reverence for all the religions. He believed that humanity is the only religion of man. He visualized “India as one nation” and devoted his life in forging national integration. Maharaja Surajmal nurtured intellectual vigour
                        that reflects a fusion of our heritage and contemporary insights.
                    </p>
                    <p>
                        Maharaja Surajmal considered farmers as the most important section of the society and had a lot of respect for them. He personally identified the problems of the farmers and introduced reforms to rectify them.
                    </p>
                    <p>
                        He expanded his kingdom from Bharatpur to include Agra, Aligarh, Ballabgarh, Hodal, Bulandshahar, Dholpur, Etah, Hathras, Meerut, Mathura, Rohtak, gurgaon, Farukh Nagar, Mewar and Rewari. Through out his life, he kept on fighting against social injustice,
                        racial discrimination, superstitions and factitious groups and sacrificed his life on 25th Dec.1763 in Shahdara, Delhi.
                    </p>
                </div>
            </div>
        </div>
        {% endblock %} {% block right_nav %} {% include 'right_menu.html' %} {% endblock %}
    </div>
</div>
{% endblock %}
