{% extends 'base.html' %} {% load staticfiles %} {% block navigation %} {% include 'navbar.html' %} {% endblock %} {% block body %}
<div class="container">
    <div class="row">
        {% block left_nav %} {% include 'left_menu.html' %} {% endblock %} {% block main_body %}
        <style>
            div.carousel-caption {
                color: white !important;
            }
        </style>
        <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8 centralcontent">
            <h4>Welcome</h4>
            <hr>
            <div class="carousel slide" data-ride="carousel" data-pause="false" id="centralcarousel" data-interval="5000">
                <ol class="carousel-indicators">
                    <li data-target="#centralcarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#centralcarousel" data-slide-to="1"></li>
                    <li data-target="#centralcarousel" data-slide-to="2"></li>
                    <li data-target="#centralcarousel" data-slide-to="3"></li>
                    <li data-target="#centralcarousel" data-slide-to="4"></li>
                    <li data-target="#centralcarousel" data-slide-to="5"></li>
                    <li data-target="#centralcarousel" data-slide-to="6"></li>
                    <li data-target="#centralcarousel" data-slide-to="7"></li>
                    <li data-target="#centralcarousel" data-slide-to="8"></li>
                    <li data-target="#centralcarousel" data-slide-to="9"></li>
                    <li data-target="#centralcarousel" data-slide-to="10"></li>
                    <li data-target="#centralcarousel" data-slide-to="11"></li>
                    <li data-target="#centralcarousel" data-slide-to="12"></li>
                    <li data-target="#centralcarousel" data-slide-to="13"></li>
                    <li data-target="#centralcarousel" data-slide-to="14"></li>
                    <li data-target="#centralcarousel" data-slide-to="15"></li>
                    <!-- <li data-target="#centralcarousel" data-slide-to="16"></li> -->
                  
                   
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">

                        <img alt="msitcollage" src="https://i.ibb.co/LPZ56qC/IMG-4047.png">
                        <div class="carousel-caption">
                            <p>Alumni Meet 2024</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="https://i.ibb.co/NW9wGwF/REDESIGN.png">
                        <div class="carousel-caption">
                            <p>Nudging Young Talent to their True Calibre</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="https://i.ibb.co/vkNPTVB/Site-Collage.png">
                        <div class="carousel-caption">
                            <p>Achievements of IEEE MSIT Student Branch at the 2024 Annual Awards Ceremony of IEEE Delhi Section</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="https://i.ibb.co/MctBXK6/package-4.png">
                        <div class="carousel-caption">
                            <p>Star Achievers of 2024 Batch</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="https://i.ibb.co/PrQVZB3/Collage-1.jpg">
                        <div class="carousel-caption">
                            <p>Dr Sandeep Kumar & Dr.Vikrant Shokeen attended International Conference ,ICCAD-24 ,Paris, France</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="https://i.ibb.co/HXVQM1F/aibanner.jpg">
                        <div class="carousel-caption">
                            <p>ICAIA 2024</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="https://i.ibb.co/pjD2BMc/Organizing-Team.jpg" style="object-position: center calc(100% + 40px);">
                        <div class="carousel-caption">
                            <p>Organizing Team of ICAIA 2024 held on 19 & 20 March</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="https://i.ibb.co/gWyDZNx/Annual-Day-2024.png">
                        <div class="carousel-caption">
                            <p>Annual Day 2024</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="{% static "img/mainPage/Genesis.png" %}">
                        <div class="carousel-caption">
                            <p>Genesis 2024</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="https://i.ibb.co/1sYH4s4/Copy-of-Untitled-3.png">
                        <div class="carousel-caption">
                            <p>Sports Meet 2024</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="https://i.ibb.co/0np8fX4/Sports-Trophy-2024.jpg">
                        <div class="carousel-caption">
                            <p>Sports Rolling Trophy 2024</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="https://i.ibb.co/87yxQNJ/Whats-App-Image-2024-01-31-at-16-02-17-fb97d4d4.jpg">
                        <div class="carousel-caption">
                            <p>MSIT Team "Courtroom Cartel" won First prize in SIH'23</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="https://i.ibb.co/PFPVnpC/Whats-App-Image-2024-02-07-at-17-24-37-100390b3.jpg">
                        <div class="carousel-caption">
                            <p>MSIT Team "Semicolon" secured 2nd place in SIH'23.</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="https://i.ibb.co/wrkVRjR/Avensis-Collage.png">
                        <div class="carousel-caption">
                            <p>Avensis 2024 - The Annual Techfest</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="https://i.ibb.co/3dfd33z/Alumni-Meet2023.png">
                        <div class="carousel-caption">
                            <p>Alumni Meet 2023</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="https://i.ibb.co/VtFB6Bc/Whats-App-Image-2023-11-23-at-11-46-38-894368aa.jpg">
                        <div class="carousel-caption">
                            <p>IEEE Day celebration 2023</p>
                        </div>
                    </div>
                    <div class="item">

                        <img alt="msitcollage" src="{% static "img/mainPage/vp-visit.jpg" %}">
                        <div class="carousel-caption">
                            <p>Golden Jubilee celebrations of SMES</p>
                        </div>
                    </div>
                     <div class="item">
                        <img alt="msit" src="{% static 'img/mainPage/IMG_6857.JPG' %}">
                        <div class="carousel-caption">
                            <p>Inauguration of law building in SMES campus</p>
                        </div>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h4>Virtual Tour</h4>
            
            <div class="well hidden-xs">
                <iframe style="display: block; margin: auto; margin-bottom: 10px;" allow='autoplay' width="80%" height="250"
                    src="https://youtube.com/embed/HdQpUwgujqI?autoplay=1&mute=1&controls=0&showinfo=0">
                </iframe>
                <div class="carousel slide" data-pause="false" id="carouselbelow" data-ride="carousel" data-interval="2000">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_9.jpg" %}">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_2.jpg" %}">
                                    </a>
                                </div>
                                
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_4.jpg" %}">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_14.jpeg" %}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_5.jpg" %}">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_6.jpg" %}">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_7.jpg" %}">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_8.jpg" %}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                               
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_10.jpg" %}">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_11.jpg" %}">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_12.jpg" %}">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_3.jpg" %}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_13.jpeg" %}">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_14.jpeg" %}">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_1.jpg" %}">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <a class="thumbnail">
                                        <img alt="" class="img-responsive" src="{% static "img/mainPage/slide_2.jpg" %}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <center>
                    <button type="button" class="btn" data-toggle="modal" data-target="#gallery">
                                View all photos
                            </button>
                </center>
                <div class="modal fade" id="gallery" tabindex="-1" role="dialog" aria-labelledby="galleryLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="galleryLabel">Virtual Tour</h4>
                            </div>
                            <div class="modal-body">
                                <div class="carousel slide" data-ride="carousel" id="galleryCarousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#galleryCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#galleryCarousel" data-slide-to="1"></li>
                                        <li data-target="#galleryCarousel" data-slide-to="2"></li>
                                        <li data-target="#galleryCarousel" data-slide-to="3"></li>
                                        <li data-target="#galleryCarousel" data-slide-to="4"></li>
                                        <li data-target="#galleryCarousel" data-slide-to="5"></li>
                                        <li data-target="#galleryCarousel" data-slide-to="6"></li>
                                        <li data-target="#galleryCarousel" data-slide-to="7"></li>
                                        <li data-target="#galleryCarousel" data-slide-to="8"></li>
                                        <li data-target="#galleryCarousel" data-slide-to="9"></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox" data-interval="3000">
                                        <div class="item active">
                                            <img alt="First slide" src="{% static "img/mainPage/slide_9.jpg" %}">
                                        </div>
                                        <div class="item">
                                            <img alt="Second slide" src="{% static "img/mainPage/slide_2.jpg" %}">
                                        </div>
                                        
                                        <div class="item">
                                            <img alt="Fourth slide" src="{% static "img/mainPage/slide_4.jpg" %}">
                                        </div>
                                        <div class="item">
                                            <img alt="Fifth slide" src="{% static "img/mainPage/slide_5.jpg" %}">
                                        </div>
                                        <div class="item">
                                            <img alt="Sixth slide" src="{% static "img/mainPage/slide_6.jpg" %}">
                                        </div>
                                        <div class="item">
                                            <img alt="Seventh slide" src="{% static "img/mainPage/slide_7.jpg" %}">
                                        </div>
                                        <div class="item">
                                            <img alt="Eighth slide" src="{% static "img/mainPage/slide_8.jpg" %}">
                                        </div>
                           
                                        <div class="item">
                                            <img alt="Tenth slide" src="{% static "img/mainPage/slide_10.jpg" %}">
                                        </div>
                                        <div class="item">
                                            <img alt="Eleventh slide" src="{% static "img/mainPage/slide_13.jpeg" %}">
                                        </div>
                                        <div class="item">
                                            <img alt="Twelth slide" src="{% static "img/mainPage/slide_14.jpeg" %}">
                                        </div>
                                    </div>
                                    <a class="left carousel-control" href="#galleryCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#galleryCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %} {% block right_nav %} {% include 'right_menu.html' %} {% endblock %}
    </div>
</div>
{% endblock %}
