{% extends 'base.html' %} {% load staticfiles %} {% block navigation %} {% include 'navbar.html' %} {% endblock %} {% block body %}
<div class="container">
    <div class="row">
        {% block left_nav %} {% include 'left_menu.html' %} {% endblock %} {% block main_body %}
        <div class="col-md-7" style="background: #fff; //height: 50em; border-radius: 1em; padding: 1em;">
            <h3>Latest News</h3>
            <hr>
            <div class="tab-content">
                <ul>
                    {% for item in news %}
                    <li>
                        {% if user.is_superuser %}
                        <button class="btn btn-danger btn-xs" onclick='document.location.href="/send_to_notice/{{item.pk}}";'>Send to Notices</button>
                        {% endif %}
                        {% if item.new %}<img alt="" src="{% static 'img/new.gif' %}" style="width: 28px; height: 11px;" />{% endif %}
                        <a {% if item.link %} href="{{ item.link }}" {% else %} href="{{ item.files.url }}" {% endif %}>{{ item.title }}</a> {% if item.additional_title %}
                        <br />
                        <strong><a {% if item.additional_link %} href="{{ item.additional_link }}" {% else %} href="{{ item.additional_files.url }}" {% endif %}>{{item.additional_title}}</a></strong> {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endblock %} {% block right_nav %} {% include 'right_menu.html' %} {% endblock %}
    </div>
</div>
{% endblock %}
