{% load staticfiles %}

<nav class="navbar navbar-default">
    <div style="background:#fff; color: #3F96AA;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="float:left; left:1em;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: #EA9320;">
            <ul class="nav navbar-nav" style="">
                {% for nav in primary_navbar %}
                    <li><a {% if nav.link %} href="{{ nav.link }}" {% else %} href="{{ nav.files.url }}" {% endif %} >{{ nav.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="container">
            <div class="col-md-10">
                <div class="col-md-2">
                    <center>
                        <a href="/"><img class="img-responsive" style="margin-top:0.5em; margin-bottom:0.5em;" src="{% static 'img/msit.png' %}" height="75" width="80" alt="Maharaja Surajmal Institute of Technology" title="Maharaja Surajmal Institute of Technology"></a>
                    </center>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <center>
                            <h3>Maharaja Surajmal Institute of Technology</h3></center>
                    </div>
                    <div class="row">
                        <center>
                            <p style="color: #FF5722;">Affiliated to GGSIPU| NAAC Accredited 'A' Grade | NBA (CSE,IT,ECE,EEE) | Approved by AICTE | ISO 9001:2015 Certified</p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div data-spy="affix" data-offset-top="121" style="height: 50px; width:100%; top:0; z-index: 999;"> -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-2" style="background:#098CC4;">
            <ul class="nav navbar-nav navbar-right col-md-10" id="blacknavlist">
                {% for nav in secondary_navbar %}
                <li><a {% if nav.link %} href="{{ nav.link }}" {% else %} href="{{ nav.files.url }}" {% endif %} >{{ nav.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- </div> -->
    </div>
    {% if marquee %}
    <div class="marquee-text" style="">
        <marquee class="col-md-12">
            {% for text in marquee %} •&nbsp;<a href="{% if text.link %}{{text.link}}{% else %}{{text.files.url}}{% endif %}">{{ text.title }}</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endfor %}
        </marquee>
    </div>
    {% endif %}
</nav>
<style>
    .marquee-text {
        background: white;
        color: #00796b;
    }

    .marquee-text>marquee {
        padding: 5px;
        font-size: 1.2em;
    }
</style>
