{% extends 'base.html' %} {% load staticfiles %} {% block navigation %} {% include 'navbar.html' %} {% endblock %} {% block body %}
<div class="container">
    <div class="row">
        {% block left_nav %} {% include 'left_menu.html' %} {% endblock %} {% block main_body %}
        <div class="col-md-7 col-sm-12 col-xs-12 col-lg-7 centralcontent">
            <h1>Placement Department</h1>
            <p class="placementcontent">
                There is an active placement department in the campus which is putting in all out efforts for organizing several placement activities throughout the academic year for MSIT / MSIP / MSI. The department is headed by <strong>Prof. Ashok Oberoi, Director Placements, SMES</strong>.
                &nbsp;The placement department has given wonderful opportunities to our students in various companies of repute with handsome packages. There is concerted focus to ensure that students work towards academic excellence to get the best results,
                keeping in mind the industry bottom line of 60% &amp; above in their respective professional streams. For this purpose, faculty is directed to keep constant vigil on the performance of students &amp; make all required efforts to ensure
                the same. Best of faculty is deployed &amp; best faculty award is given to encourage the faculty towards this endeavour. To give them a feel of industrial environment, students undergo industrial training as part of their curriculum. They
                also undertake minor industry related project in pre-final semester and a major project in the final semester. Special sessions to hone up technical skills &amp; much needed communication skills are conducted on a regular basis.
            </p>
            <p><a href="javascript:void(0)">Placements 2016</a></p>
            <h3 class="placementhead">
		Prof. A. Oberoi
	</h3>
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/005/048/3b1/239d69b.jpg" class="img-responsive" alt="Prof. A. Oberoi" id="oberoiimg">
            <h3 class="placementhead">
		(Director Placements, SMES)
	</h3>
            <p class="placementcontent" style="text-align: left;">
                Maharaja Surajmal Group Of Institutions,<br> C-4, Janak Puri, New Delhi-58
            </p>
            <p class="placementcontent">
                <p>Date of Birth: 15-07-1945<br> Teaching Experience: 9+years<br> Industry Experience : 36+years
                    <br> Contact: <a href="mailto:msit.tpo@gmail.com" target="_blank"><b>msit.tpo@gmail.com</b></a>
                </p>
            </p>
            <p class="placementcontent">
                After B.Tech (Hons.) from IIT Bombay, LLB from MS University, Baroda,MBA, he is presently working as Director, Placements in Maharaja Surajmal Group Of Institutions, C-4, Janak Puri, New Delhi. In past, had a brief stint with Fertilizers Corporation Of
                India Limited as Executive Trainee, thereafter 22 years long spell with IAF as Permanent Commissioned Officer. Involved in Systems evaluation trips to USSR for introduction of new weapon systems in IAF and setting up of major overhaul
                facility for guided weapon systems in India. Was Senior Works & Operations Manager with Moser Baer (I) Limited, the World’s leading media manufacturers & leaders in entertainment industry. Long spell with National Panasonic, initially
                as head of CNC-based Auto Insertion Plant and SMT lines, thereafter as GM (Operations) for overall TV manufacturing line, always maintaining standards of utmost quality, excellence, customer satisfaction and maintaining best of employee
                morale. Subsequently as Chief GM (Operations) in Sumex Exports, was able to create the best of cost effective & highly productive systems to bring out the most cost competitive quality products for export; simultaneously helped the involved
                human resource in their individual growth & development.
            </p>
            <p class="placementcontent">
                Thereafter switched over to this campus with a pioneering effort to setup Placement Cell in Maharaja Surajmal Institute Of Technology. Followed it up with unprecedented First batch placements anywhere in NCR. Currently taking care of Placements for Maharaja
                Surajmal Group Of Institutions. Always working towards excellence in placements for each of the institutes, setting up new paradigms and benchmarks. Have been instrumental for best of tie-ups & relationships with big MNC’s & some of the
                top notch companies. Professionally has helped many a students from this comparatively less privileged campus to attain great heights in their respective careers.
            </p>
            <p class="placementcontent">
                Also facilitated students relocation to some of the highest–ranking educational institutions / universities in India & abroad (For Technology and Management Education) which helps improve the prospects for highly paid International jobs.
            </p>
            <p class="placementcontent">
                Granted “New Era Award For Technology, Innovation and Quality in July 2010” & “The Majestic Five Continents Award For Quality and Excellence in July 2011”. Featured in an article in a reknowned magazine Business Sphere 15<sup>th</sup>                June 2011 issue “Excellence in Technological Education exhibited at its best”.
            </p>
            <p class="placementcontent">
                Recipient of “SHIKSHA RATTAN PURASKAR” from IIFS in a function held in October 2011 in New Delhi.
            </p>
            <p class="placementcontent">
                Recipient of “BEST CITIZENS OF INDIA AWARD” from International Publishing House.
            </p>
            <p class="placementcontent">
                Associated with getting the International award “ Diamond Eye Award For Quality Commitment & Excellence in Education” from OMAC, the Paris-based International Organization (Since collected in a ceremony in GENEVA on 28<sup>th</sup> November
                2011).
            </p>
            <p class="placementcontent">
                Leading role in getting the National Employability Award for the Campus for being amongst the Top 10% Engineering Colleges of India.
            </p>
        </div>
        {% endblock %} {% block right_nav %} {% include 'right_menu.html' %} {% endblock %}
    </div>
</div>
{% endblock %}
