{% load staticfiles %}

<div class="col-md-2 col-sm-12 col-xs-12 col-lg-2">
	<div class="panel panel-default" id="rightpanel">
		<div class="panel-heading">Latest News</div>
		<div class="als-container panel-body" id="rightpanelbody" data-id="als-container_0">

				<div class="als-viewport" data-id="als-viewport_0">
				<ul class="als-wrapper" data-id="als-wrapper_0">
                    {% for item in latest_news %}
                        <li class="als-item" id="als-item_0_{{forloop.counter|add:'-1'}}">
                            <p>
                                {% if item.new %}<img alt="" src="{% static 'img/new.gif' %}" style="width: 28px; height: 11px;" />{% endif %}
                                <a href="{{ item.link }}">{{ item.title }}</a>
                                {% if item.additional_link %}
                                    <br />
                                    <strong><a href="{ item.additional_link }}">{{item.additional_title}}</a></strong>
                                {% endif %}
                            </p>
                        </li>
                    {% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
