{% load staticfiles %}

<div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading" style="margin:0;">Latest News</div>
        <div class="als-container panel-body" id="demo3">
            <div class="als-viewport">
                <ul class="als-wrapper" style="padding:0;">
                    {% for item in latest_news %}
                        <li class="als-item">
                            <p>
                                {% if item.new %}<img alt="" src="{% static 'img/new.gif' %}" style="width: 28px; height: 11px;" />{% endif %}
                                <a href="{{ item.link }}">{{ item.title }}</a>
                                {% if item.additional_link %}
                                    <br />
                                    <strong><a href="{ item.additional_link }}">{{item.additional_title}}</a></strong>
                                {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <p style="width:100%; text-align:center;"><a href='{% url "latest_news" %}'>View All</a></p>
        </div>
    </div>
</div>
