{% load staticfiles %}
<div class="col-md-2 col-sm-12 col-xs-12 col-lg-2">
    <div class="panel panel-default">
        <h4 class="panel-heading" style="margin:0;"><strong>Latest News</strong></h4>
        <div class="als-container panel-body" id="demo3">
            <div class="als-viewport">
                <ul class="als-wrapper" style="padding: 0px">
                    {% for item in latest_news %}
                    <li class="als-item" id="als-item_0_{{forloop.counter|add:'-1'}}">
                        <p>
                            {% if item.new %}<img alt="" src="{% static 'img/new.gif' %}" style="width: 28px; height: 11px;" />{% endif %}
                            <a {% if item.link %} href="{{ item.link }}" {% else %} href="{{ item.files.url }}" {% endif %}>{{ item.title }}</a> {% if item.additional_title %}
                            <br />
                            <a {% if item.additional_link %} href="{{ item.additional_link }}" {% else %} href="{{ item.additional_files.url }}" {% endif %}>{{item.additional_title}}</a> {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
            <p id="viewall" style="width:100%; text-align:center; font-size: 0.9em;"><a href='{% url "latest_news" %}'>View All</a></p>
    </div>





    <div class="panel panel-default">
        <h4 class="panel-heading" style="margin:0;"><strong>Notices</strong></h4>
        <div class="als-container panel-body" id="demo3">
            <div class="als-viewport">
                <ul class="als-wrapper" style="padding: 0px">
                    {% for item in notices %}
                    <li class="als-item" id="als-item_0_{{forloop.counter|add:'-1'}}">
                        <p>
                            {% if item.new %}<img alt="" src="{% static 'img/new.gif' %}" style="width: 28px; height: 11px;" /> {% endif %}<a {% if item.link %} href="{{ item.link }}" {% else %} href="{{ item.files.url }}" {% endif %}>{{ item.title }}</a>                            {% if item.additional_title %}
                            <br />
                            <a {% if item.additional_link %} href="{{ item.additional_link }}" {% else %} href="{{ item.additional_files.url }}" {% endif %}>{{item.additional_title}}</a> {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
            <p id="viewall" style="width:100%; text-align:center; font-size: 0.9em;"><a href='{% url "notices" %}'>View All</a></p>
    </div>
</div>